{% extends "faqs/base.html" %}
{% load sekizai_tags %}

{% block content %}
	{% addtoblock 'js' %}
		<script src="{{STATIC_URL}}js-lib/jquery.dl_show_hide.js" type="text/javascript" charset="utf-8"></script>
	{% endaddtoblock %}

	<div class="row">
		{% for section in sections %}
			<div class="span6">
				<h2>{{section.name}}</h2>
				<hr>
				<dl class="dl-show-hide">
				{% for question in section.question_set.all %}
					<dt><i class="icon-circle-arrow-right"></i> {{question.question}}</dt>
						<dd>{{question.answer}}</dd>
					<hr>
				{% endfor %}
				</dl>
			</div>
		{% endfor %}
	</div>
{% endblock content %}